In [1]:
import pandas as pd

In [2]:
normal_genes_df = pd.read_excel("./data/gene_lists/genes_normal_dmp_list.xlsx")
indolent_genes_df = pd.read_excel("./data/gene_lists/genes_indolent_dmp_list.xlsx")
high_grade_genes_df = pd.read_excel("./data/gene_lists/genes_high_grade_dmp_list.xlsx")
avpc_genes_df = pd.read_excel("./data/gene_lists/genes_avpc_dmp_list.xlsx")

In [3]:
avpc_genes_df

    Gene_symbol
0         AARS1
1      ARHGAP27
2     ARHGEF10L
3     BASP1-AS1
4         BIRC5
..          ...
125     TMEM233
126       TMEM9
127        VAPB
128       VGLL4
129    WDR35-DT

[130 rows x 1 columns]

In [4]:
# Convert each 'Gene_symbol' column to a set
normal_genes_set = set(normal_genes_df['Gene_symbol'])
indolent_genes_set = set(indolent_genes_df['Gene_symbol'])
high_grade_genes_set = set(high_grade_genes_df['Gene_symbol'])
avpc_genes_set = set(avpc_genes_df['Gene_symbol'])

In [5]:
# Find exclusive genes for each dataframe
unique_normal_genes = normal_genes_set - (indolent_genes_set | high_grade_genes_set | avpc_genes_set)
unique_indolent_genes = indolent_genes_set - (normal_genes_set | high_grade_genes_set | avpc_genes_set)
unique_high_grade_genes = high_grade_genes_set - (normal_genes_set | indolent_genes_set | avpc_genes_set)
unique_avpc_genes = avpc_genes_set - (normal_genes_set | indolent_genes_set | high_grade_genes_set)

In [6]:
# Convert to DataFrames for easier viewing and manipulation if needed
unique_normal_genes_df = pd.DataFrame(unique_normal_genes, columns=['Exclusive_Gene_Symbols_Normal'])
unique_indolent_genes_df = pd.DataFrame(unique_indolent_genes, columns=['Exclusive_Gene_Symbols_Indolent'])
unique_high_grade_genes_df = pd.DataFrame(unique_high_grade_genes, columns=['Exclusive_Gene_Symbols_High_Grade'])
unique_avpc_genes_df = pd.DataFrame(unique_avpc_genes, columns=['Exclusive_Gene_Symbols_AVPC'])

In [11]:
unique_indolent_genes_df

  Exclusive_Gene_Symbols_Indolent
0              ENSG00000171791.14
1                          TMEM79
2                            CD27
3              ENSG00000161547.17